{% extends "base.html" %}

{% block headerbar %}
<nav id="main-nav">
  <a href="/" id="home-link">Рынок Предсказаний</a>
  <a href="/markets">Пари</a>
  <a href="/users">Участники</a>
  <a href="/assets">🪙 {{session_user.points_balance.amount | int}} жетонов</a>
  {% if session_user.user.can_gift_tokens() %}
  <a href="/admin">Админ</a>
  {% endif %}
</nav>
<div id="session-indicator">
  <details>
    <summary>
      <span>{{session_user.user.full_name}}</span>
      <span class="caret"></span>
    </summary>
    <nav>
      <a href="/user/{{session_user.user.username}}">Профиль</a>
      <a href="/assets">Активы</a>
      <a href="/logout">Выйти</a>
    </nav>
  </details>
</div>
{% endblock %}
